WebScraping IV: attack of the APIs
An API (Application Programming Interface) is a type of intermediary software that allows two applications to exchange information between them.

In [1]:
import requests

url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"Beijing","limit":"8"}

headers = {
	"X-RapidAPI-Host": "aerodatabox.p.rapidapi.com",
	"X-RapidAPI-Key": "08779f2c8bmsha7a035dee543610p1e1286jsn36e9cc09506b"
}

response = requests.request("GET", url, headers=headers, params=querystring)

print(response.text)

{"items":[{"icao":"ZBAA","iata":"PEK","name":"Beijing, Beijing Capital","shortName":"Capital","municipalityName":"Beijing","location":{"lat":40.0801,"lon":116.585},"countryCode":"CN"},{"icao":"ZBAD","iata":"PKX","name":"Beijing, Beijing Daxing","shortName":"Daxing","municipalityName":"Beijing","location":{"lat":39.509167,"lon":116.41055},"countryCode":"CN"},{"icao":"ZBNY","iata":"NAY","name":"Beijing, Beijing Nanyuan","shortName":"Nanyuan","municipalityName":"Beijing","location":{"lat":39.7828,"lon":116.388},"countryCode":"CN"}]}

In [2]:
url = "https://aerodatabox.p.rapidapi.com/airports/search/term"

querystring = {"q":"Beijing","limit":"8"}

# headers is like our loggin (always the same)
headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324" 
    }

response = requests.get(url, headers=headers, params=querystring)
response.json()

{'items': [{'icao': 'ZBAA',
   'iata': 'PEK',
   'name': 'Beijing, Beijing Capital',
   'shortName': 'Capital',
   'municipalityName': 'Beijing',
   'location': {'lat': 40.0801, 'lon': 116.585},
   'countryCode': 'CN'},
  {'icao': 'ZBAD',
   'iata': 'PKX',
   'name': 'Beijing, Beijing Daxing',
   'shortName': 'Daxing',
   'municipalityName': 'Beijing',
   'location': {'lat': 39.509167, 'lon': 116.41055},
   'countryCode': 'CN'},
  {'icao': 'ZBNY',
   'iata': 'NAY',
   'name': 'Beijing, Beijing Nanyuan',
   'shortName': 'Nanyuan',
   'municipalityName': 'Beijing',
   'location': {'lat': 39.7828, 'lon': 116.388},
   'countryCode': 'CN'}]}

Working with JSON

In [3]:
import pandas as pd

json_1 = {'first_key': [{'inner_first_key': 1, 'inner_second_key': 2}],
         'second_key': [{'inner_first_key': 1, 'inner_second_key': 2}]}

pd.json_normalize(json_1)

,first_key,second_key
0,"[{'inner_first_key': 1, 'inner_second_key': 2}]","[{'inner_first_key': 1, 'inner_second_key': 2}]"

In [4]:
json_1["first_key"]

[{'inner_first_key': 1, 'inner_second_key': 2}]

In [5]:
dct = {'first_key_inner_first_key': 1, 'first_key_inner_second_key': 2, 'second_key_inner_first_key': 1, 'second_key_inner_second_key': 2}

pd.DataFrame.from_dict(dct, orient='index').T

,first_key_inner_first_key,first_key_inner_second_key,second_key_inner_first_key,second_key_inner_second_key
0,1,2,1,2

In [6]:
import pandas as pd

# Normalize the response

r_json = response.json()
r_json['items']

[{'icao': 'ZBAA',
  'iata': 'PEK',
  'name': 'Beijing, Beijing Capital',
  'shortName': 'Capital',
  'municipalityName': 'Beijing',
  'location': {'lat': 40.0801, 'lon': 116.585},
  'countryCode': 'CN'},
 {'icao': 'ZBAD',
  'iata': 'PKX',
  'name': 'Beijing, Beijing Daxing',
  'shortName': 'Daxing',
  'municipalityName': 'Beijing',
  'location': {'lat': 39.509167, 'lon': 116.41055},
  'countryCode': 'CN'},
 {'icao': 'ZBNY',
  'iata': 'NAY',
  'name': 'Beijing, Beijing Nanyuan',
  'shortName': 'Nanyuan',
  'municipalityName': 'Beijing',
  'location': {'lat': 39.7828, 'lon': 116.388},
  'countryCode': 'CN'}]

In [7]:
### Converting json into dataframe
df_json = pd.json_normalize(r_json["items"]) #OPTION 1
df_json = pd.DataFrame.from_dict(r_json["items"]) #OPTION 2
df_json  # not good

,icao,iata,name,shortName,municipalityName,location,countryCode
0,ZBAA,PEK,"Beijing, Beijing Capital",Capital,Beijing,"{'lat': 40.0801, 'lon': 116.585}",CN
1,ZBAD,PKX,"Beijing, Beijing Daxing",Daxing,Beijing,"{'lat': 39.509167, 'lon': 116.41055}",CN
2,ZBNY,NAY,"Beijing, Beijing Nanyuan",Nanyuan,Beijing,"{'lat': 39.7828, 'lon': 116.388}",CN

In [8]:
querystring = {"q":"Guangzhou","limit":"8"}

response = requests.request("GET", url, headers=headers, params=querystring)
results = response.json()
results

{'items': [{'icao': 'ZGGG',
   'iata': 'CAN',
   'name': 'Guangzhou, Guangzhou Baiyun',
   'shortName': 'Baiyun',
   'municipalityName': 'Guangzhou',
   'location': {'lat': 23.3924, 'lon': 113.299},
   'countryCode': 'CN'},
  {'icao': 'ZHGH',
   'iata': 'LHK',
   'name': 'Guanghua, Guangzhou MR Air Base',
   'shortName': 'Guangzhou MR Air Base',
   'municipalityName': 'Guanghua',
   'location': {'lat': 32.3894, 'lon': 111.695},
   'countryCode': 'CN'}]}

In [9]:
results['items'][1]

{'icao': 'ZHGH',
 'iata': 'LHK',
 'name': 'Guanghua, Guangzhou MR Air Base',
 'shortName': 'Guangzhou MR Air Base',
 'municipalityName': 'Guanghua',
 'location': {'lat': 32.3894, 'lon': 111.695},
 'countryCode': 'CN'}

In [10]:
pd.json_normalize(results['items'])

,icao,iata,name,shortName,municipalityName,countryCode,location.lat,location.lon
0,ZGGG,CAN,"Guangzhou, Guangzhou Baiyun",Baiyun,Guangzhou,CN,23.3924,113.299
1,ZHGH,LHK,"Guanghua, Guangzhou MR Air Base",Guangzhou MR Air Base,Guanghua,CN,32.3894,111.695

In [11]:
# first we needed to get the icao codes, now we can look for time and distance of flights
icao_from = 'LPPT'
icao_to = 'CYYZ'

url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{icao_from}/distance-time/{icao_to}"


response = requests.get(url, headers=headers)

print(response.json())

{'from': {'icao': 'LPPT', 'iata': 'LIS', 'name': 'Lisbon, Lisbon Portela', 'shortName': 'Portela', 'municipalityName': 'Lisbon', 'location': {'lat': 38.7813, 'lon': -9.135919}, 'countryCode': 'PT'}, 'to': {'icao': 'CYYZ', 'iata': 'YYZ', 'name': 'Toronto, Lester B. Pearson', 'shortName': 'Lester B. Pearson', 'municipalityName': 'Toronto', 'location': {'lat': 43.6772, 'lon': -79.6306}, 'countryCode': 'CA'}, 'greatCircleDistance': {'meter': 5746862.05, 'km': 5746.862, 'mile': 3570.935, 'nm': 3103.057, 'feet': 18854534.28}, 'approxFlightTime': '07:15:00'}

In [12]:
pd.json_normalize(response.json())

,approxFlightTime,from.icao,from.iata,from.name,from.shortName,from.municipalityName,from.location.lat,from.location.lon,from.countryCode,to.icao,...,to.shortName,to.municipalityName,to.location.lat,to.location.lon,to.countryCode,greatCircleDistance.meter,greatCircleDistance.km,greatCircleDistance.mile,greatCircleDistance.nm,greatCircleDistance.feet
0,07:15:00,LPPT,LIS,"Lisbon, Lisbon Portela",Portela,Lisbon,38.7813,-9.135919,PT,CYYZ,...,Lester B. Pearson,Toronto,43.6772,-79.6306,CA,5746862.05,5746.862,3570.935,3103.057,18854534.28

Some cool functions to make things easier

In [13]:
# headers won't change
headers = {
    'x-rapidapi-host': "aerodatabox.p.rapidapi.com",
    'x-rapidapi-key': "9613ca6ca5msh62659872159916fp1a0a2cjsndd9a3e6ff324"
    }


def get_codes():
    
    location = input('Insert location:')
    print()
    
    url = "https://aerodatabox.p.rapidapi.com/airports/search/term"
    querystring = {"q":location.lower(), "limit":"10"}

    response = requests.get(url, headers=headers, params=querystring)
    codes = response.json()['items'] if 'items' in response.json() else location

    return codes


def choose_code():
    
    codes = get_codes()
    #print(codes)
    
    while type(codes) is str or len(codes) > 1:
        
        if not codes:
            print('Try another location. Unable to find code for:', codes, '\n')
        else:
            print('More than one location found. Insert one of the following airports:', [code['shortName'] for code in codes], '\n')
        
        codes = get_codes()
    
    return codes[0]['icao']


def flight_distance_time(from_, to_):
    url = f"https://aerodatabox.p.rapidapi.com/airports/icao/{from_}/distance-time/{to_}"
    response = requests.get(url, headers=headers)
    return pd.json_normalize(response.json()).T

In [ ]:
print('[DEPARTURE]')
from_ = choose_code()
print('[DESTINATION]')
to_ = choose_code()

flight_df = flight_distance_time(from_, to_)
flight_df